*{
  margin: 0;
  padding: 0;
}
.rooms1 {
  display:flex;
  margin: auto;
  height: 65vh;
  width: 100%;
}
.div1 {
  width: 65vw;
  height: 60vh;
}
#coverImg{
height: 65vh;
width: 120vh;
}

.all-memu{
  font-family: "Arial",serif;
  background-color: none;
  overflow-x: hidden; 
  position: absolute;
  top: 0;
  left: 0;
}

.bar{
  height: 63px;
  width: 65vw;
  padding-right: 4;
  margin-left: 42px; 
  margin-top: 40px;
}
#roomtitle {

  list-style: none;
  
}
#roomtitle1{
 
  margin-top: -8px;
  font-size: 25px;
}
.bar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.bar ul{
  margin: 8px  8px  8px  8px;
  list-style: none;
}

.bar a:hover{
  background-color: #ddd;
  color: #000;
}

.side-div{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-div a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-div a:hover{
  color: #fff;
}

.side-div .btn-close{
  position: absolute;
  top:0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

@media(max-width:568px){
 .bar-div{display: none;}
}
@media(min-width:568px){
  .open-slide{display: none;}
  .roomtitle{display: none;}
}

.div1 img{
  width: 100%;
  height: 100%;
}
.div2
{
  width: 30vw;
  height: 60vh;
  position: relative;
  padding: 50px;

}
.div2 h1{
  font-family:Tahoma;
  height: 10vh;
  font-size:30px
}
p {
  color: #969696;
}
.shop
{
  width: 20vw;
  height: 5vh;
  letter-spacing: 1rem;
  display: flex;
  cursor:pointer;
  margin-left: -16vh;
  margin-top: 3vh;

}
button{

  height: 3vh;
  width: 5vw;
  background-color: white;


}
.ptn
{
  height: 3vh;
  width: 5vw;
  position: relative;
}

 #buttonshop{
   border:none;
   cursor:pointer;

 }

button img
{
  width: 150%;
  height:100%;
  

}
.imgLeftRight
{
  cursor:pointer;
  display: flex;
 width: 26vh;
 height: 70vh;
 left: 834px;
 margin-top: 55vh;
}
.click1 , .click2{
  width: 15ch;
  float: left;
  height: 10vh;
  background-color: black;
  cursor:pointer;
  font-size: xx-large;
}

#alltext{
  margin-left: -16vh;
  margin-top: 3vh;
}

.btn1
{

background-color: black;
color: white;
font-size: xx-large;
width: 48%;
height: 8vh;

}
.room2 h3{
  letter-spacing: 7px;
}
#y{
  color: #ddd;
  font-size: 35px;
}
.rooms2
{
  
  width: 100%;
  height:40vh;
  display: flex;
  font-size: 18px;
}
.room1
{
  width: 30%;
  height: 40vh;
}
.room1 img ,.room3 img
{
  width: 100%;
  height: 100%;
}
.room2
{
  width: 40%;
  height: 40vh;
  padding: 65px;
}
.room3
{
  width: 30%;
  height: 40vh;
}

@media screen and (max-width: 500px) {
   .rooms1,.rooms2{
    flex-direction: column;
     display: block;
   }
   .div1 img{
     width:150%;
     height: 50%;
   }
   .room1 img{
    width:150%;
    height: 50%;
  }
  .imgLeftRight{
 width: 5vw;
 height: 5vh;
 border: 1px solid black; 
 background-color: black;
}
  .btn1{
 position: fixed;
top: 153px;
left: 210px;
right: 0px;
}



}
